.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.line{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  height: 200px;
  width: 1500px;
}
#solarParent{
     background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/solarB.png');
     background-size:cover;
     border-radius: 20px;
}
.flywheelParent{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/test.jpg');
    background-size:cover;
    border-radius: 20px;
}
#windParent{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/wind.png');
    background-size:cover;
    border-radius: 20px;
}
#cityParent{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/city.png');
    background-size:cover;
    border-radius: 20px;
}
#barrageParent{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/barrage.png');
    background-size:cover;
    border-radius: 20px;
}
.centralParent{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('images/usine.png');
    background-size:cover;
    border-radius: 20px;
}
.title{
    font-weight: bold;
    font-size: 40px;
}
.sub_block{
    color: white;
    font-weight:bold;
    width: 195px;
    height: 200px;
    border-left-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
}
.sub_block2{
    color: white;
    font-weight:bold;
    width: 500px;
    height: 200px;
    border-left-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
}
.main_block{
    color: white;
    width: 240px;
    height: 200px;
    font-weight:bold;
    padding-left: 10px;
    font-size: 22px;
}
.info{
    font-weight:bold;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.block {
    display: inline-block;
}
.date{
}
.time{
}
.wrap_wind{
    padding-left: 10px;
    color: white;
    margin-left: 100px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(images/wind.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.local{
    height: 100px;
    margin-left: 100px;
}
.wrap_solar{
    padding-left: 10px;
    color: white;
    margin-left: 100px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(images/solar.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.wrapco2{
    padding-left: 10px;
    color: white;
    margin-left: 100px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(images/co2.png);
    background-size:cover;
    background-repeat:no-repeat;

}
.overall{
    margin-left: 50px;
}
.header{
    padding-top: 10px;
    position: fixed;
    top:0;
    width: 100%;
    opacity: 1;
    background-color: white;
    border-bottom: solid;
    margin-right: 50px;
}
.Producer{
    margin-top: 300px;
}
.button_menu{
    background-color: green;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}
.button_menu:hover{
    background-color: white;
}
